<div class="p-[48px]">
  <div class="flex justify-between items-center">
    <form [formGroup]="transactionConditionsForm" class="flex gap-[12px]">
      <nz-form-item>
        <nz-form-label>付款人账号</nz-form-label>
        <input
          nz-input
          type="number"
          formControlName="payerAccount"
          placeholder="付款人账号"
        />
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>付款人名称</nz-form-label>
        <input nz-input formControlName="payerName" placeholder="付款人名称" />
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>付款金额</nz-form-label>
        <nz-input-group class="flex gap-[8px]">
          <input
            nz-input
            type="number"
            class="w-[128px]"
            formControlName="minAmount"
            placeholder="最小金额"
          />
          <input
            nz-input
            type="number"
            class="w-[128px]"
            formControlName="maxAmount"
            placeholder="最大金额"
          />
        </nz-input-group>
      </nz-form-item>
      <nz-form-item class="flex-col">
        <nz-form-label class="self-start">付款货币</nz-form-label>
        <nz-select
          class="w-[250px]"
          formControlName="currency"
          placeholder="请选择币种"
        >
          <nz-option
            *ngFor="let currency of currencies"
            [nzValue]="currency.value"
            [nzLabel]="currency.label"
          ></nz-option> </nz-select
      ></nz-form-item>
    </form>
    <div class="ml-[12px] whitespace-nowrap">
      <button class="mr-[8px]" nz-button nzType="primary" (click)="search()">
        查询
      </button>
      <button nz-button (click)="reset()">重置</button>
    </div>
  </div>

  <nz-table
    #nzTable
    [nzData]="transactionData()"
    [nzLoading]="loading()"
    [nzPageSize]="10"
    [nzTotal]="totalCount()"
    [nzPageIndex]="pageNow()"
    [nzPageSize]="pageSize()"
    (nzPageIndexChange)="onPageChange($event)"
    [nzShowPagination]="true"
  >
    <thead>
      <tr>
        <th>付款人信息</th>
        <th>收款人信息</th>
        <th>收款人类型</th>
        <th nzRight [nzSortFn]="sortPayAmount">付款金额</th>
        <th>付款币种</th>
        <th nzRight>
          收款金额
          <span
            class="align-middle"
            nz-icon
            nzType="question-circle"
            nzTheme="outline"
          ></span>
        </th>
        <th>收款币种</th>

        <th nzRight>
          转账汇率
          <span
            class="align-middle"
            nz-icon
            nzType="question-circle"
            nzTheme="outline"
          ></span>
        </th>
        <th nzRight>
          手续费
          <span
            class="align-middle"
            nz-icon
            nzType="question-circle"
            nzTheme="outline"
          ></span>
        </th>
        <th>付款类型</th>

        <th>用途</th>
        <th [nzSortFn]="sortPayStatus">交易状态</th>
        <th nzRight>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of nzTable.data">
        <td nzEllipsis>
          <div class="flex gap-[4px]">
            <img
              [src]="(item.payerPlatForm | payPlatform).icon"
              class="w-[20px]"
            />
            {{ item.payerName }}
          </div>
          <span class="text-gray-300">{{ item.payerAccount }}</span>
        </td>

        <td nzEllipsis>
          <div class="flex gap-[4px]">
            <img
              [src]="(item.payeePlatForm | payPlatform).icon"
              class="w-[20px]"
            />
            {{ item.payeeName }}
          </div>
          <span class="text-gray-300">{{ item.payeeAccount }}</span>
        </td>

        <td>{{ item.payeeType | payeeTypeTranslate }}</td>
        <td nzRight>{{ item.payAmount | numberFormat }}</td>
        <td>{{ Currency[item.payCurrency] }}</td>
        <td nzRight>{{ item.receiveAmount | numberFormat }}</td>
        <td>{{ Currency[item.receiveCurrency] }}</td>
        <td nzRight>{{ item.rate | numberFormat : 4 : 4 }}</td>
        <td nzRight>{{ item.fee | numberFormat }}</td>
        <td>{{ item.payType }}</td>
        <td>{{ item.usage }}</td>
        <td>
          <div
            class="inline-block mr-2 w-[8px] h-[8px] rounded-[50%] bg-yellow-500"
          ></div>
          {{ item.payStatus | payStatusTranslate }}
        </td>
        <td nzRight>
          <a class="text-[#40a9ff]" (click)="viewDetail(item)">详情</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
